[submodule "experiments/projects/minbpe"]
	path = experiments/projects/minbpe
	url = https://github.com/karpathy/minbpe
[submodule "experiments/projects/pyrsistent"]
	path = experiments/projects/pyrsistent
	url = https://github.com/tobgu/pyrsistent
